$border-color: #ccc;
$border-radius: 5px;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$hover-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
$transition-speed: 0.3s;
$max-width: 375px;
$min-width: 375px;
$padding: 1rem;
$gap: 1rem;
$font-family: "Montserrat", sans-serif;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: $gap;

  .movieCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: $padding;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    margin-bottom: $gap;
    max-width: $max-width;
    min-width: $min-width;
    transition: transform $transition-speed ease,
      box-shadow $transition-speed ease;
    z-index: 1;
    position: relative;

    &:hover {
      transform: scale(1.05);
      box-shadow: $hover-box-shadow;
      cursor: pointer;
    }

    img {
      object-fit: contain;
      margin-right: $gap;
    }

    .details {
      flex-grow: 1;
    }

    h3 {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
      font-family: $font-family;
    }
  }

  .movieTitle {
    text-transform: capitalize;
    font-family: $font-family;
  }
}
