.homeState {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 0;
  gap: 2rem;
}
