$sidebar-bg-color: rgb(186, 184, 184);
$sidebar-button-radius: 5px;
$sidebar-button-padding: 10px 15px;
$sidebar-font-family: Arial, Helvetica, sans-serif;
$close-button-font-size: 24px;
$gap-large: 20px;
$gap-medium: 15px;
$white-color: #fff;

@use "../../mixins/mixins" as *;

.sidebar {
  display: flex;
  flex-direction: column;
  gap: $gap-large;
}

.closeButton {
  background: none;
  border: none;
  font-size: $close-button-font-size;
  cursor: pointer;
  align-self: flex-end;
}

.sidebarContent {
  display: flex;
  flex-direction: column;
  gap: $gap-medium;
}

.sidebarButton {
  background-color: $sidebar-bg-color;
  color: $white-color;
  border: none;
  padding: $sidebar-button-padding;
  border-radius: $sidebar-button-radius;
  cursor: pointer;
  font-family: $sidebar-font-family;
  text-align: left;
  width: fit-content;
}
