@use "../../mixins/mixins" as *;

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.closeButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  align-self: flex-end;
}

.sidebarContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebarButton {
  background-color: rgb(186, 184, 184);
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  width: fit-content;
}
