$heart-size: 24px;
$heart-hover-fill: black;
$transition-speed: 0.3s;
$heart-position: 10px;
$z-index-top: 2;

.heartShapeStyling {
  cursor: pointer;
  transition: fill $transition-speed ease-in-out;
  fill: none;
  position: absolute;
  bottom: $heart-position;
  right: $heart-position;
  z-index: $z-index-top;

  &:hover {
    fill: $heart-hover-fill;
  }
}
